@import models.client.Client
@import models.product.Product
@(cart: Form[UpdateCartForm],  products: Seq[Product], clients: Seq[Client])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ProductController.updateProductHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@cart("id").value" type="hidden" />

    <select name="client" id="client">
    @for(client <- clients) {
        @if(client.id.toString == cart("client").value.getOrElse(0)) {
            <option value="@client.id" selected>@client.name @client.surname</option>
        } else {
            <option value="@client.id">@client.name @client.surname</option>
        }
    }
    </select>

    @inputText(cart("name"))

    <select name="product" id="product">
    @for(product <- products) {
        @if(product.id.toString == cart("product").value.getOrElse(0)) {
            <option value="@product.id" selected>@product.name</option>
        } else {
            <option value="@product.id">@product.name</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Cart"/>
    </div>
}
<br><a href="@controllers.routes.CartController.getAllCarts()">Carts</a><br>
