@import models.client.Client
@import models.payment.Payment
@import models.shipment.Shipment
@(order: Form[UpdateOrderForm], clients: Seq[Client], payments: Seq[Payment], shipments: Seq[Shipment])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.OrderController.updateOrderHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@order("id").value" type="hidden" />

    <select name="client" id="client">
    @for(client <- clients) {
        @if(client.id.toString == order("client").value.getOrElse(0)) {
            <option value="@client.id" selected>@client.name @client.surname</option>
        } else {
            <option value="@client.id">@client.name @client.surname</option>
        }
    }
    </select>

    <select name="payment" id="payment">
    @for(payment <- payments) {
        @if(payment.id.toString == order("payment").value.getOrElse(0)) {
            <option value="@payment.id" selected>@payment.id</option>
        } else {
            <option value="@payment.id">@payment.id</option>
        }
    }
    </select>

    <select name="shipment" id="shipment">
    @for(shipment <- shipments) {
        @if(shipment.id.toString == order("shipment").value.getOrElse(0)) {
            <option value="@shipment.id" selected>@shipment.id</option>
        } else {
            <option value="@shipment.id">@shipment.id</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Order"/>
    </div>
}
<br><a href="@controllers.routes.OrderController.getAllOrders()">Orders</a><br>
