@(orders: Seq[Order])

<table>
    <tr>
        <th id="client">Client</th>
        <th id="payment">Payment</th>
        <th id="shipment">Shipment</th>
        <th id="actions">Actions</th>
    </tr>
    @for(order <- orders) {
        <tr>
            <td><a href="@controllers.routes.ClientController.getClient(order.client)">@order.client</a></td>
            <td><a href="@controllers.routes.PaymentController.getPayment(order.payment)">@order.payment</a></td>
            <td><a href="@controllers.routes.ShipmentController.getShipment(order.shipment)">@order.shipment</a></td>
            <td>
                <a href="@controllers.routes.OrderController.getOrder(order.id)">View</a>
                <a href="@controllers.routes.OrderController.updateOrder(order.id)">Update</a>
                <a href="@controllers.routes.OrderController.deleteOrder(order.id)">Delete</a>
            </td>
        </tr>
    }
</table>
<br><a href="@controllers.routes.OrderController.addOrder()">Add Order</a>
<br><a href="@controllers.routes.ProductController.index()">Index</a><br>
