@import models.news.News
@(newsList: Seq[News])

<table>
    <tr>
        <th id="message">Message</th>
        <th id="actions">Actions</th>
    </tr>
    @for(news <- newsList) {
        <tr>
            <td>@news.message</td>
            <td>
                <a href="@controllers.routes.NewsController.getNews(news.id)">View</a>
                <a href="@controllers.routes.NewsController.updateNews(news.id)">Update</a>
                <a href="@controllers.routes.NewsController.deleteNews(news.id)">Delete</a>
            </td>
        </tr>
    }
</table>
<br><a href="@controllers.routes.NewsController.addNews()">Add News</a>
<br><a href="@controllers.routes.ProductController.index()">Index</a><br>
