@import models.discount.Discount
@(discounts: Seq[Discount])

<table>
    <tr>
        <th id="size">Size</th>
        <th id="product">Product</th>
        <th id="actions">Actions</th>
    </tr>
    @for(discount <- discounts) {
        <tr>
            <td>@discount.discountSize</td>
            <td><a href="@controllers.routes.ProductController.getProduct(discount.id)">@discount.product</a></td>
            <td>
                <a href="@controllers.routes.DiscountController.getDiscount(discount.id)">View</a>
                <a href="@controllers.routes.DiscountController.updateDiscount(discount.id)">Update</a>
                <a href="@controllers.routes.DiscountController.deleteDiscount(discount.id)">Delete</a>
            </td>
        </tr>
    }
</table>
<br><a href="@controllers.routes.DiscountController.addDiscount()">Add Discount</a>
<br><a href="@controllers.routes.ProductController.index()">Index</a><br>
