@(addresses: Seq[Address])

<table>
    <tr>
        <th id="street">Street</th>
        <th id="building">Building</th>
        <th id="postal-code">Postal Code</th>
        <th id="city">City</th>
        <th id="actions">Actions</th>
    </tr>
    @for(address <- addresses) {
        <tr>
            <td>@address.street</td>
            <td>@address.building</td>
            <td>@address.postalCode</td>
            <td>@address.city</td>
            <td>
                <a href="@controllers.routes.AddressController.getAddress(address.id)">View</a>
                <a href="@controllers.routes.AddressController.updateAddress(address.id)">Update</a>
                <a href="@controllers.routes.AddressController.deleteAddress(address.id)">Delete</a>
            </td>
        </tr>
    }
</table>
