@(carts: Seq[Cart])

<table>
    <tr>
        <th id="product">Product</th>
        <th id="quantity">Quantity</th>
        <th id="client">Client</th>
        <th id="actions">Actions</th>
    </tr>
    @for(cart <- carts) {
        <tr>
            <td><a href="@controllers.routes.ProductController.getProduct(cart.product)">@cart.product</a></td>
            <td>@cart.quantity</td>
            <td><a href="@controllers.routes.ClientController.getClient(cart.client)">@cart.client</a></td>
            <td>
                <a href="@controllers.routes.CartController.getCart(cart.id)">View</a>
                <a href="@controllers.routes.CartController.updateCart(cart.id)">Update</a>
                <a href="@controllers.routes.CartController.deleteCart(cart.id)">Delete</a>
            </td>
        </tr>
    }
</table>
