@(clients: Seq[Client])

<table>
    <tr>
        <th id="name">Name</th>
        <th id="surname">Surname</th>
        <th id="address">Address</th>
        <th id="actions">Actions</th>
    </tr>
    @for(client <- clients) {
        <tr>
            <td>@client.name</td>
            <td>@client.surname</td>
            <td><a href="@controllers.routes.AddressController.getAddress(client.address)">@client.address</a></td>
            <td>
                <a href="@controllers.routes.ClientController.getClient(client.id)">View</a>
                <a href="@controllers.routes.ClientController.updateClient(client.id)">Update</a>
                <a href="@controllers.routes.ClientController.deleteClient(client.id)">Delete</a>
            </td>
        </tr>
    }
</table>
