@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@main("Welcome to My Shop") {

    <h1>Welcome to My Shop</h1>

    <p>
        Navigation:<br>
            <a href="@controllers.routes.AddressController.getAllAddresses()">Addresses</a><br>
            <a href="@controllers.routes.CartController.getAllCarts()">Carts</a><br>
            <a href="@controllers.routes.CategoryController.getAllCategories()">Categories</a><br>
            <a href="@controllers.routes.ClientController.getAllClients()">Clients</a><br>
            <a href="@controllers.routes.DiscountController.getAllDiscounts()">Discounts</a><br>
            <a href="@controllers.routes.NewsController.getAllNews()">News</a><br>
            <a href="@controllers.routes.OrderController.getAllOrders()">Orders</a><br>
            <a href="@controllers.routes.PaymentController.getAllPayments()">Payments</a><br>
            <a href="@controllers.routes.ProductController.getAllProducts()">Products</a><br>
            <a href="@controllers.routes.ShipmentController.getAllShipments()">Shipments</a>
    </p>

    @welcome(message, style = "scala")

}
