@(shipments: Seq[Shipment])

<table>
    <tr>
        <th id="method">Method</th>
        <th id="status">Status</th>
        <th id="actions">Actions</th>
    </tr>
    @for(shipment <- shipments) {
        <tr>
            <td>@shipment.method</td>
            <td>@shipment.status</td>
            <td>
                <a href="@controllers.routes.ShipmentController.getShipment(shipment.id)">View</a>
                <a href="@controllers.routes.ShipmentController.updateShipment(shipment.id)">Update</a>
                <a href="@controllers.routes.ShipmentController.deleteShipment(shipment.id)">Delete</a>
            </td>
        </tr>
    }
</table>
